{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <img src="{% if object.avatar %}/media/{{ object.avatar }}{% else %}{% static 'img/default.jpg' %}{% endif %}"
 alt="">
        </div>
        <div class="col-md-6">
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="form-control" type="submit" value="сохранить">
            </form>
            <button class="btn btn-round form-control last">
                <a href=" {% url 'adminapp:user_read' %}">
                    к списку пользователей
                </a>
            </button>
        </div>
    </div>
{% endblock %}
