{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
    <div class="hero">
        <div class="header clearfix">
            {% include 'mainapp/includes/inc_main_menu.html' %}
        </div>
        <h1>наши контакты</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="location">
        {% for address in contact %}
            <div class="location-1">
                <i class="fa fa-map-marker fa-5x"></i>
                <h4>{{ address.city }}</h4>
                <div class="contacts">
                    <h5>Телефон</h5>
                    <p>{{ address.phone }}</p>
                </div>
                <div class="contacts">
                    <h5>E-mail</h5>
                    <p>{{ address.email }}</p>
                </div>
                <div class="contacts">
                    <h5>Адрес</h5>
                    <p>{{ address.address }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
